{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form method="POST" class = 'form-group'>
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-success">Login</button>
    <p>New User? Click <a href="/register">here</a> to register!</p>
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}